header{
    position: fixed;
    width: 100%;
    height: 100px;
    top:0;
    left:0; 
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: white;
    line-height: 49px;
    border-bottom: 1px solid #000000;
  }
.img_header{
  margin-top: 0px;
  margin-bottom: -20px; 
  height: 100px;
}
.frame{
  width: 50px;
  margin-top: 30px;
  margin-right: 15px;
  float: right;
}

.name{
  float:left;
  position: fixed ;
  padding-top: 20px;  
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: red;
}
.footer_menu_2{
  padding-bottom: .5rem;
}
ul.header-blog {
  position: left;
  display: inline-block;
  padding: 5px;
  width: auto;
  height: auto;
  right: 10px;
} 
body{
  background-color: white ;
} 
h5{
  color: #000000;
  top: 0;
  float: right;
}
.reg_button{
  justify-content: center;
  align-items: center;    
  height: 100vh; 
}