* {
  box-sizing: border-box;
}

body, h1,h2,h3,h4,h5,h6,p,ol,ul {
  margin: 0;
  padding: 0;
}

body {
   background-color:#4070f4;
   font-size: 16px;
   font-family: Arial, sans-serif;
}

.wrapper_flex {
  display: flex;
  flex-direction: column;
}

header {
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  display: flex;
  justify-content: left;   
  align-items: center; 
  background-color:bisque;
  color: rgb(255, 115, 0);
}

.header_menu {
  width: 100%;
  justify-content: right;
  display: flex;
  padding: 20px;
  list-style: none;
}

.footer_menu{
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 20px;
  list-style: none;
}

.menu_item a {
  padding: 10px;
  color: black;
  background-color:bisque;
  text-decoration: none;
  font-size: 20px;
  transition: all .3s;
}

.menu_item a:hover {
  background-color: rgb(255, 115, 0, 0.7);
}

.wrapper {
  width: 960px;    
  margin: 40px auto 40px auto;
  background-color: black;
  background-image: url('pic/content_main.jpg');
  background-repeat: no-repeat;
  
}

.wrapper_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(9, 94, 120);
  color: white;
  box-shadow: 0 5px 10px 0 black;
}

.list_elements {
  display: flex;
  justify-content: space-around;
  width: 70%;
  padding: 30px 0;
  list-style: none;
}

.list_elements_item {
  height: 20%;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.list_elements_item:hover {
  transform: scale(1.2);
}

.title_paragraph {
  padding: 20px;
  font-family: arial black, Arial, Helvetica, sans-serif;
}

.paragraph {
  padding: 20px 40px;   
  text-indent: 50px;
}

.footer {
  box-sizing: border-box;
  background-color: bisque;
  color: white;
  overflow: auto;
}

.text-center {
  text-align: center;
}

.grid_products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  padding: 30px 40px;
}

.grid_product_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.item {
  padding: 10px 30px;
  background-color: rgb(252, 238, 227);
  color: black;
  box-shadow: 1px 2px 7px 3px rgb(69, 69, 69);
  transition: all 0.3s;
}
.item:hover{
  box-shadow: 0 0 14px 2px rgb(47, 47, 68);
  transform: scale(1.1);
}
.item_image img {
  height: 150px;
  width: 150px;
}

.item_title{
  padding: 5px 0;
  font-size: 22px;
}

.item_description{
  font-size: 16px;
  padding: 10px 0;
}

.item_button {
  background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%);
  margin: 10px 0;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  text-decoration: none;
}

.item_button:hover {
  background-position: right center;

  color: #fff;
}

.logo{
  height: 100px;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}